.img-banner-principal {
  height: 350px;
  object-fit: cover;
}

@media (max-width: 576px) {
  .img-banner-principal {
    height: 200px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .img-banner-principal {
    height: 270px;
  }
}
